<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap-tokenfield.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap-markdown-editor.min.css">
		<link rel="stylesheet" href="/stylesheets/fontawesome/fontawesome.min.css">
		<link rel="stylesheet" href="/stylesheets/fontawesome/solid.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/bootstrap-tokenfield.min.js"></script>
		<script src="/javascripts/ace.js"></script>
		<script src="/javascripts/bootstrap-markdown-editor.min.js"></script>
		<script src="/javascripts/twemoji.min.js"></script>
		<% if (user['dash-color']) { %><style>body{background:<%=user['dash-color']%>}</style><% } %>
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow" role="navigation">
			<a class="navbar-brand" href="/">Dumblr</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto navbar-right">
					<li class="nav-item active"><a class="nav-link" href="/" title="Home"><i class="fas fa-home"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="/" title="Messages"><i class="fas fa-envelope"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="/settings" title="Settings"><i class="fas fa-cog"></i></a></li>
					<% if (user['id']) { %>
					<li class="nav-item"><a class="nav-link" href="/dashboard/profile" title="Profile"><img src="/profiles/<%=user['id']-%>-64.png" class="avatar ava-nav"></a></li>
					<% if (user.otherBlogs.length) { %>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<% user.otherBlogs.forEach(function(blog) { %>
							<a class="dropdown-item" href="/dashboard/<%=blog['handle']-%>"><img src="/profiles/<%=blog['id']-%>-32.png" class="avatar ava-list"> <%=blog['title']-%></a>
						<% }); %>
						</div>
					</li>
					<% } } %>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-8">
